<a href="https://colab.research.google.com/github/ksndrsantos/CpE-031-VDA-CpE21s4/blob/main/Exercise_1_SANTOSMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1
 1. Vairable and Data Types

# **NUMBERS**

varNum = 123

pi = 3.14159


STRINGS

varString = "Hello World!"

varText = 'This is a String'

LIST

varlist = ["abc",123]

TUPLES

varTuple = ('abc,123,"HELLO")

DICTIONARIES

var = 3

varDict = {'first':1, '2':'2nd', 3:var}

varDict ={}

varDict ['first'] = 1

varDict ['2'] = 2nd

varDict[3] =var

# **ARITHMETIC**

Addition
a = 5+3
>= 8

Subtraction
a = 5-3
> = 2

Multiplication
a = 5*3
>= 15

Exponent
a = 5**3
>= 125

Divsion

a = 5/3
>= 1.66667

a =  5 % 3
> = 2

a = 5//3
> = 1

Decrement
a = 5
a -= 1
> a = 4

Increment

a = 5
a += 1
>a = 6

String Concatenation

a = 'Hello' + 'World'
> Hello Worold

Complex Expressions
a = 3+5-6*2/4
> 5.0

# **CONDITIONAL STATEMENTS AND DATA STRUCTURES**

--- BOOLEAN CONDITIONS ---

x = True

if x:
  
  print ("var is True")

else

  print("var is false")

--- STRING CONDITIONS ---

x= "Hello World!"

if x == 'Hello World!':

  print ("var x is Hello World!")

else:

  print ("var x is not Hello World!")

--- NUMERICAL CONDITIONS ---

x = 10

if x == '10':
  
  print("var x is a string")

elif x == 10:
  print ("var is an integer")

else:
  print ("var is non of the above")

CHECKING IF THE CODE WORKS

In [2]:
x= True

if x:
    print("var is true")
else:
    print("var is false")

var is true

In [3]:
x= "Hello World!"

if x == 'Hello World!':
 print ("var x is Hello World!")
else:

  print ("var x is not Hello World!")

var x is Hello World!

In [4]:
x = 10

if x == '10':

  print("var x is a string")

elif x == 10:
  print ("var is an integer")

else:
  print ("var is non of the above")

var is an integer

# **LOOPS**

loop declaration ends with a colon (:) while its contents inside are indented

--- FOR LOOPS ---

for var in range (0,5,2):

  print (var)

--- WHILE LOOPS ---

var = 0

while var <5:

    print(var)

    var +=2

--- WHILE LOOPS ---

x = 0

while x <5:

    for y in range (0,x):

      print (y, end='')

    x += 1

    print ()

CHECKING IF THE CODE WORKS

In [5]:
for var in range (0,5,2):
  print (var)

0
2
4

In [6]:
var = 0
while var <5:
    print(var)
    var +=2

0
2
4

In [7]:
x = 0
while x <5:
    for y in range (0,x):
      print (y, end='')
    x += 1
    print ()

0
01
012
0123

# **LIST**

contains a number of values comprised of different datatypes

List starts with an index of 0.
the remove90 method erases the first valie that matches the parameter.

----EXAMPLE ----

In [8]:
pi = 3.14159
varList = [1,2,'A', 'B', 'Hello!', pi]
print(varList [0])

1

In [9]:
print (varList [4])

Hello!

In [10]:
varList.append ('World')
print(varList[6])

World

In [11]:
len(varList)

7

In [12]:
print(varList[5])

3.14159

In [13]:
varList.remove(pi)
print(varList[5])

World

# **DICTIONARIES**

--- EXAMPLE ---

In [18]:
var = "Hello World!"
varDict = {'first': 123, 2 : 'abc', '3' : var, 4 : ['lista', 'listb']}
print(varDict['first'])

123

In [15]:
print(varDict [2])

abc

In [24]:
print(varDict['3'])

Hello World!

In [19]:
print(varDict[4])

['lista', 'listb']

In [21]:
print(varDict[4][1])

listb

In [22]:
len(varDict)

4

# **LIST GENERATORS AND COMPREHENSIONS**

Generators can be used to build list in the memory as objects

Python's built in range function range ([start]), stop, [step]

In [28]:
def gen_num_u_to(n):
  num=0
  while 0 <n:
    yield num
    num +=1

varList = gen_num_up_to (5)

print([var for var in varlist])
>[0,1,2,3,4)

def gen_num_up_to (n)

  num = 0

  while num , n:
  
    yield num

    num +=2
varList = gen_num_up_to (5)

print ([var for var in varList])

>[0,2,4]

varList = range (0,5,2)

print([var for var in varList])

>[0,2,4]

# **SLICING**

list(start:)

list (:end)

list (start:end)

list (start:end:step)

In [30]:
varList = [1,2,3,4,5,6,7,8,9,10]
print (varList[:5])

[1, 2, 3, 4, 5]

In [32]:
print(varList[5:])

[6, 7, 8, 9, 10]

In [33]:
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
print(varList[-2:])

[9, 10]

In [35]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [36]:
print(varList[2:8:2])

[3, 5, 7]

# **FUNCTIONS**

Functions are defined with the keyword def before the function name. Similar to loops, the function definition ends with a colon (:) while its contents inside are indented

**def function_name:** commands

In [38]:
def remainder (n,m):
  while True:
    if  n-m <0:
      return n
    else:
      n = n - m

remainder (10,4)

2