<a href="https://colab.research.google.com/github/ksndrsantos/CpE-031-VDA-CpE21s4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 2 - Example 1**

In [4]:
import pandas

mydataset = {
  'animals': ["Cat", "Dog", "Rabbit"],
  'height': [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

# **Exercise 2 - Example 2**

In [38]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [6]:
import pandas as pd

a = [1.5,7.5,2.5]

myvar = pd.Series(a)

print(myvar)

0    1.5
1    7.5
2    2.5
dtype: float64

# **Exercise 2 - Example 3**

In [14]:
import pandas as pd

data = {
    "age" :[42,38,39],
    "weight" : [50,40,45]
}

myvar = pd.DataFrame(data)

print(myvar.loc [[0]])
print(myvar.loc [[0,1]])
print(myvar.loc [[0,1,2]])

   age  weight
0   42      50
   age  weight
0   42      50
1   38      40
   age  weight
0   42      50
1   38      40
2   39      45

# **Exercise 2 - Example 4**

In [29]:
import pandas as pd

s1 =pd.Series ([0,8,4])
s2 =pd.Series ([1,7,5])
s3 =pd.Series ([2,6,10])
s4 =pd.Series ([3,5,9])

dframe = pd.DataFrame ([s1,s2,s3])
dframe = (dframe.drop([0]))
print(dframe)

   0  1   2
1  1  7   5
2  2  6  10

In [37]:
import pandas as pd

dframe = pd.DataFrame(index = [0,1,2], columns=[0,1,2])
s1 =pd.Series ([0,8,4])
s2 =pd.Series ([1,7,5])
s3 =pd.Series ([2,6,10])
s4 =pd.Series ([3,5,9])

dframe = pd.DataFrame ([s1,s2,s3,s4])

dframe = pd.DataFrame ([s1,s2,s3,s4], index=[0,1,2,3], columns=[0,1,2])
print(dframe)

   0  1   2
0  0  8   4
1  1  7   5
2  2  6  10
3  3  5   9

# **Exercise 2 - CHALLENGE 2**

Deleting indices 0,1,3 leaving all items in index 2

In [39]:
import pandas as pd

dframe = pd.DataFrame(index = [0,1,2], columns=[0,1,2])
s1 =pd.Series ([0,8,4])
s2 =pd.Series ([1,7,5])
s3 =pd.Series ([2,6,10])
s4 =pd.Series ([3,5,9])

dframe = pd.DataFrame ([s1,s2,s3,s4], index=[0,1,2,3], columns=[0,1,2])
dframe = pd.DataFrame ([s1,s2,s3,s4])

dframe = pd.DataFrame.drop(dframe, [0,1,3])
print(dframe)

   0  1   2
2  2  6  10