<a href="https://colab.research.google.com/github/ksndrsantos/CpE-031-VDA-CpE21s4/blob/main/Laboratory_Creating_and_Accessing_Panda_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
path = "/content/drive/MyDrive/Dataset/Teams-(1).csv"
df=pd.read_csv(path)
df.head(5)

   Rank            Team  Gold  Silver  Bronze  S Tier  Earnings
0     1       Sentinels    12       3       1       1  $561,500
1     2           Acend     5       1       1       1  $498,859
2     3  Gambit Esports     8       3       0       1  $495,638
3     4     Team Liquid     4       2       2       0  $295,374
4     5      G2 Esports     7       2       1       0  $257,925

In [22]:
print (df)

     Rank              Team  Gold  Silver  Bronze  S Tier  Earnings
0       1         Sentinels    12       3       1       1  $561,500
1       2             Acend     5       1       1       1  $498,859
2       3    Gambit Esports     8       3       0       1  $495,638
3       4       Team Liquid     4       2       2       0  $295,374
4       5        G2 Esports     7       2       1       0  $257,925
..    ...               ...   ...     ...     ...     ...       ...
397   398  Unicorns of Love     0       0       0       0      $282
398   399        Nora-Rengo     1       0       0       0      $267
399   400       Lunatic-hai     0       0       1       0      $247
400   401     DETONA Gaming     1       0       0       0      $107
401   402  Lunatic-hai FLUX     0       1       0       0       $92

[402 rows x 7 columns]

In [23]:
import pandas as pd
data = {
    'Rank': [1, 2, 3, 4, 5],
    'Team': ['Sentinels', 'Acend', 'Gambit Esports', 'Team Liquid', 'G2 Esports'],
    'Gold': [12, 5, 8, 4, 7],
    'Silver': [3, 1, 3, 2, 2],
    'Bronze': [1, 1, 1, 2, 1],
    'S Tier': [1, 1, 1, 0, 1],
    'Earnings': ['$561,500', '$498,859', '$495,638', '$295,374', '$257,925']
}

df = pd.DataFrame(data)
print(df)

   Rank            Team  Gold  Silver  Bronze  S Tier  Earnings
0     1       Sentinels    12       3       1       1  $561,500
1     2           Acend     5       1       1       1  $498,859
2     3  Gambit Esports     8       3       1       1  $495,638
3     4     Team Liquid     4       2       2       0  $295,374
4     5      G2 Esports     7       2       1       1  $257,925

In [24]:
import pandas as pd

data = [
    {'Rank': 1, 'Team': 'Sentinels', 'Gold': 12, 'Silver': 3, 'Bronze': 1, 'S Tier': 1, 'Earnings': '$561,500'},
    {'Rank': 2, 'Team': 'Acend', 'Gold': 5, 'Silver': 1, 'Bronze': 1, 'S Tier': 1, 'Earnings': '$498,859'},
    {'Rank': 3, 'Team': 'Gambit Esports', 'Gold': 8, 'Silver': 3, 'Bronze': 1, 'S Tier': 1, 'Earnings': '$495,638'},
    {'Rank': 4, 'Team': 'Team Liquid', 'Gold': 4, 'Silver': 2, 'Bronze': 2, 'S Tier': 0, 'Earnings': '$295,374'},
    {'Rank': 5, 'Team': 'G2 Esports', 'Gold': 7, 'Silver': 2, 'Bronze': 1, 'S Tier': 1, 'Earnings': '$257,925'}
]

df = pd.DataFrame(data)
print(df)

   Rank            Team  Gold  Silver  Bronze  S Tier  Earnings
0     1       Sentinels    12       3       1       1  $561,500
1     2           Acend     5       1       1       1  $498,859
2     3  Gambit Esports     8       3       1       1  $495,638
3     4     Team Liquid     4       2       2       0  $295,374
4     5      G2 Esports     7       2       1       1  $257,925

In [37]:
#Selecting a single dataframe column
singleColumn =df ['Team']
print(singleColumn)

0         Sentinels
1             Acend
2    Gambit Esports
3       Team Liquid
4        G2 Esports
Name: Team, dtype: object

In [39]:
# Selecting multiple dataframe columns
multipleColumns = df[['Team', 'Earnings']]
print(multipleColumns)

             Team  Earnings
0       Sentinels  $561,500
1           Acend  $498,859
2  Gambit Esports  $495,638
3     Team Liquid  $295,374
4      G2 Esports  $257,925

In [35]:
#Selecting a single dataframe rows
singleRow =df.loc[:0]
print(singleRow)

   Rank       Team  Gold  Silver  Bronze  S Tier  Earnings
0     1  Sentinels    12       3       1       1  $561,500

In [36]:
# Selecting multiple dataframe rows
multipleRow =df.loc[0:2]
print(multipleRow)

   Rank            Team  Gold  Silver  Bronze  S Tier  Earnings
0     1       Sentinels    12       3       1       1  $561,500
1     2           Acend     5       1       1       1  $498,859
2     3  Gambit Esports     8       3       1       1  $495,638

In [41]:
singleRow = df.iloc[[0]]
print(singleRow)

   Rank       Team  Gold  Silver  Bronze  S Tier  Earnings
0     1  Sentinels    12       3       1       1  $561,500

In [43]:
multipleRow =df.iloc[0:2]
print(multipleRow)

   Rank       Team  Gold  Silver  Bronze  S Tier  Earnings
0     1  Sentinels    12       3       1       1  $561,500
1     2      Acend     5       1       1       1  $498,859